@reference "./tailwind.css";

html,
body,
#app,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: --theme(--font-sans);
}

html.dark {
  background: #121212;
}

/* range query express */
/* @media (width >= 700px) {} */